./backend/node_modules
./backend/error.log
./backend/out.log
./backend/yarn.lock
./backend/node_modules

./frontend/node_modules
./frontend/yarn.lock
./frontend/yarn-error.log

yarn.lock
yarn-error.log
node_modules


